body{
    text-align: center;
    background-color: #fffad4;

}

.textDiv{
    width: 250px;
    height: 180px;
    background-color: rgb(163, 161, 161);
    display: inline-block;
    margin: 5px
}
.my_scroll_div{   
    background-color: #fffad4;
    border: 2px solid #141313;
    border-radius: 4px 0 4px 0;
    color: #3B3C3E;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 10px 7px 5px;
    height:70px;
    overflow:scroll;
    overflow-x:hidden;
}
